@{
    ViewData["Title"] = "Home Page";
}

@model List<Dish>

    <h1>Welcome to CRUDelicious</h1>
    <a href="/new">Add a Dish</a>
    @foreach(var x in Model)
    {
        <p><a href="/@x.DishId">@x.DishName</a> by @x.ChefName</p><br>
    }